<section class="bg-gray-50 dark:bg-gray-900 dark:bg-gray-800">
    <div class="py-8 lg:py-16 mx-auto max-w-screen-xl px-4">
        <h2 class="mb-8 lg:mb-16 text-3xl font-extrabold tracking-tight leading-tight text-center text-gray-900 dark:text-white md:text-4xl">Deine Vorteile</h2>
        <div class="grid grid-cols-2 gap-8 text-gray-500 sm:gap-12 md:grid-cols-3 lg:grid-cols-4 dark:text-gray-400">
            <div class="flex flex-col items-center justify-center">
                <img src="/images/spages/stock.svg" loading="lazy" alt="" class="">
                <span>Bestandsverwaltung</span>
            </div>
            <div class="flex flex-col items-center justify-center">
                <img src="/images/spages/repair.svg" loading="lazy" alt="" class="">
                <span style="word-wrap: none" >Reparaturauftrag-Management</span>
            </div>
            <div class="flex flex-col items-center justify-center">
                <img src="/images/spages/customer-managment.svg" loading="lazy" alt="" class="">
                <span>Kundenverwaltung</span>
            </div>
            <div class="flex flex-col items-center justify-center">
                <img src="/images/spages/online-appointment.svg" loading="lazy" alt="" class="">
                <span>Onlineterminbuchung</span>
            </div>
        </div>
    </div>
</section>