<section class="bg-white dark:bg-gray-900">
  <div
    class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6"
  >
    <div class="grid grid-cols-1 gap-4 mt-8">
      <img
        id="inventory-image" class=" previewable w-full rounded-lg cursor-pointer"
        src="/images/spages/inventory.png"
        alt="Bestandsverwaltung"
      />

    </div>
    <div class="font-light text-gray-500 sm:text-lg dark:text-gray-400">
      <h2 class="mb-4 text-4xl font-extrabold text-gray-900 dark:text-white">
        Bestandsverwaltung
      </h2>
      <p class="mb-4">
        Machen Sie die Bestandsverwaltung mühelos mit Reclouds leistungsstarker Software,
        die das Verfolgen, Bestellen und Auffüllen von Beständen vereinfacht. Erstellen Sie
        problemlos eine serialisierte Bestandsliste, Bestellaufträge und Wareneingangsbelege
        (GRNs), übertragen Sie Ihren Bestand von einem Geschäft zum anderen und führen Sie
        Bestandszählungen durch. Mit benutzerfreundlichen Funktionen und detaillierten
        Berichtswerkzeugen überwachen Sie Bestandsmengen, erhalten Sie Benachrichtigungen
        bei niedrigem Bestand und automatisieren Sie Nachbestellprozesse für eine nahtlose
        Bestandskontrolle.
      </p>
      <p>
        Spezielle Anforderungen und besondere Prozesse können dank der modularen
        Bestandsverwaltung schnell und spezifisch für Ihr Unternehmen umgesetzt werden.
        Sprechen Sie uns an!
      </p>
    </div>
  </div>
</section>

