<section class="bg-white dark:bg-gray-900">
  <div
    class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6"
  >
    <div class="font-light text-gray-500 sm:text-lg dark:text-gray-400">
      <h2 class="mb-8 text-4xl font-extrabold text-gray-900 dark:text-white">Maßgeschneidert für Ihr Team.</h2>
                <p class="text-gray-500 sm:text-xl dark:text-gray-400">Unsere ReCloud SaaS-Software bietet maßgeschneiderte Lösungen für moderne Business-Teams. Durch den Einsatz fortschrittlicher Technologien
                    unterstützt ReCloud Ihr Unternehmen dabei, effizienter zu arbeiten und
                    bessere Ergebnisse zu erzielen. Unsere Software vereinfacht komplexe
                    Arbeitsabläufe, fördert die Zusammenarbeit im Team und hilft Ihnen, Ihre
                    Geschäftsziele schneller zu erreichen. Vertrauen Sie auf ReCloud, um Ihr
                    Unternehmen in die Zukunft zu führen.</p>
    </div>
    <div class="grid grid-cols-1 gap-4 mt-8">
      <img
        id="recloud-saas-image" class="w-full rounded-lg"
        src="/images/spages/ipad.png"
        alt="recloud-tool"
      />

    </div>
  </div>
</section>
<div class="modal-body rounded-lg inset-auto w-1/2 lg:w-1/4 min-h-1/2
   bg-white flex z-50 relative shadow-modal overflow-auto hidden" > </div>

