<section class="bg-white dark:bg-gray-900">
  <div
    class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6"
  >

    <div class="font-light text-gray-500 sm:text-lg dark:text-gray-400">
      <h2 class="mb-4 text-4xl font-extrabold text-gray-900 dark:text-white">
        Agiles Workflow für Werkstätten

      </h2>
      <p class="mb-4">
        Mit der intuitiven Reparaturauftrag-Management-Software von Recloud können Sie mühelos
        Reparaturaufträge erstellen, Reparaturartikel hinzufügen und Aufträge an Techniker zuweisen.
        Die leistungsstarke Software ermöglicht es Ihnen, Kundeninformationen und Reparaturhistorien.
        einfach abzurufen, Aufträge zu verfolgen und den Fortschritt der Arbeiten zu überwachen.
        Lösen Sie Aufträge bei jeder erfolgreichen Lieferung, um die Effizienz Ihrer Werkstattabläufe zu steigern.
      </p>
      <p>
        Optimieren Sie zudem Ihre Arbeitsabläufe mit der flexiblen Workflow-Management-Lösung von Recloud.
        Verwalten Sie Reparaturaufträge von Anfang bis Ende mit nahtlosen Übergängen zwischen den einzelnen Phasen.
        Automatisierte Benachrichtigungen und klare Zuständigkeitsbereiche sorgen dafür, dass jede Aufgabe
        zur richtigen Zeit erledigt wird. Behalten Sie den Überblick über den gesamten Prozess und verbessern
        Sie die Zusammenarbeit in Ihrem Team, um die Produktivität und Kundenzufriedenheit zu erhöhen.
      </p>
    </div>
      <div class="grid grid-cols-1 gap-4 mt-8">
      <img
        id="inventory-image" class=" w-full rounded-lg"
        src="/images/spages/kanban2.jpg"
        alt="Bestandsverwaltung"
      />

    </div>

  </div>
</section>
