<div class="max-w-sm mx-auto border rounded-lg md:mx-4 dark:border-gray-700">

    <div class="flex flex-col h-full p-6 min-h-96">
        <div class="price-heading">
            <h1 class="text-xl font-medium text-gray-700 capitalize lg:text-2xl dark:text-white">Free</h1>

            <p class="mt-4 text-gray-500 dark:text-gray-300">
                Ideal für Einzelkämpfer, um mit ReCloud ohne Risiko durchzustarten.
            </p>

            <h2 class="mt-4 text-2xl font-semibold text-gray-700 sm:text-3xl dark:text-gray-300">€ 0.00</h2>

            <p class="mt-1 text-gray-500 dark:text-gray-300">
                Immer kostenlos für einen Benutzer
            </p>
        </div>
        <!-- Spacer pushes the button to the bottom -->
        <div class="flex-grow"></div>

        <a href="<%=new_user_registration_url(subdomain: "app")%>?plan=free" class="w-full inline-flex items-center justify-center px-5 py-3 mt-6 text-base font-medium text-center text-gray-900 border border-gray-300 rounded-lg hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 dark:text-white dark:border-gray-700 dark:hover:bg-gray-700 dark:focus:ring-gray-800">
            Sofort starten
        </a>
        <hr class="border-gray-200 dark:border-gray-700">

        <div class="p-6">
            <h1 class="text-lg font-medium text-gray-700 capitalize lg:text-xl dark:text-white">Umfang:</h1>

            <div class="mt-8 space-y-4">

                <div class="flex items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-teal-700" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                    </svg>
                    <span class="mx-4 text-gray-700 dark:text-gray-300">Reparatur-Management</span>
                </div>

                <div class="flex items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-teal-700" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                    </svg>
                    <span class="mx-4 text-gray-700 dark:text-gray-300">CRM (Kunden, Lieferanten, ...)</span>
                </div>

                <div class="flex items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-teal-700" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                    </svg>
                    <span class="mx-4 text-gray-700 dark:text-gray-300">Lager-Modul</span>
                </div>

                <div class="flex items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-teal-700" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                    </svg>
                    <span class="mx-4 text-gray-700 dark:text-gray-300">Vorlagen-Modul</span>
                </div>
                <div class="flex items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-teal-700" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                    </svg>
                    <span class="mx-4 text-gray-700 dark:text-gray-300">Unbegrenzte Reparaturaufträge</span>
                </div>

                <div class="flex items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-teal-700" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                    </svg>
                    <span class="mx-4 text-gray-700 dark:text-gray-300">Unbegrenzte Kunden</span>
                </div>

                <div class="flex items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-teal-700" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                    </svg>
                    <span class="mx-4 text-gray-700 dark:text-gray-300">Unbegrenzte Rechnungen</span>
                </div>
            </div>
        </div>
    </div>
</div>
