<div class="max-w-sm mx-auto border rounded-lg md:mx-4 dark:border-gray-700">
    <div class="flex flex-col h-full p-6 ">
        <div class="price-heading">
            <h1 class="text-xl font-medium text-gray-700 capitalize lg:text-2xl dark:text-white">Advanced</h1>

            <p class="mt-4 text-gray-500 dark:text-gray-300">
                Profitieren Sie von leistungsstarken Funktionen, unbegrenzten Möglichkeiten und maßgeschneiderter Skalierbarkeit, um Ihre Reparaturprozesse auf das nächste Level zu bringen.
            </p>


        </div>

        <!-- Spacer pushes the button to the bottom -->
        <div class="flex-grow"></div>


            <a href="/contact?subject=advanced" class="w-full inline-flex items-center justify-center px-5 py-3 mt-6 text-base font-medium text-center text-gray-900 border border-gray-300 rounded-lg hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 dark:text-white dark:border-gray-700 dark:hover:bg-gray-700 dark:focus:ring-gray-800">
            Sprechen Sie mit uns!
        </a>
        <hr class="border-gray-200 dark:border-gray-700">

        <div class="p-6">
            <h1 class="text-lg font-medium text-gray-700 capitalize lg:text-xl dark:text-white">Basic-Tarif plus:</h1>

            <div class="mt-8 space-y-4">
                <div class="flex flex-col items-start">
                    <div class="flex items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-teal-700" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                        </svg>
                        <span class="mx-4 text-gray-700 dark:text-gray-300">Unbegrenzte Benutzer</span>
                    </div>
                </div>
                <div class="flex flex-col items-start">
                    <div class="flex items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-teal-700" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                        </svg>
                        <span class="mx-4 text-gray-700 dark:text-gray-300">Multi-Filialen-Unterstützung  </span>
                    </div>
                    <span class="ml-9 text-sm text-gray-500 dark:text-gray-400">Eine Plattform, um all Ihre Filialen effizient zu verwalten.</span>
                </div>

                <div class="flex flex-col items-start">
                    <div class="flex items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-teal-700" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                        </svg>
                        <span class="mx-4 text-gray-700 dark:text-gray-300">Händler-Anbindung</span>
                    </div>
                    <span class="ml-9 text-sm text-gray-500 dark:text-gray-400">Nahtlose Anbindung für reibungslose Zusammenarbeit mit Ihren Händlern</span>

                </div>

                <div class="flex flex-col items-start">
                    <div class="flex items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-teal-700" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                        </svg>
                        <span class="mx-4 text-gray-700 dark:text-gray-300">Migrationssupport</span>
                    </div>
                    <span class="ml-9 text-sm text-gray-500 dark:text-gray-400">Von der Migration bis Betrieb – wir helfen</span>

                </div>

                <div class="flex flex-col items-start">
                    <div class="flex items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-teal-700" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                        </svg>
                        <span class="mx-4 text-gray-700 dark:text-gray-300">Berechtigungen</span>
                    </div>
                    <span class="ml-9 text-sm text-gray-500 dark:text-gray-400">Standortspezifische Rollen und Berechtigungen</span>

                </div>

                <div class="flex flex-col items-start">
                    <div class="flex items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-teal-700" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                        </svg>
                        <span class="mx-4 text-gray-700 dark:text-gray-300">White-Label-Option für Ihr Branding</span>
                    </div>
                </div>
                <div class="flex flex-col items-start">
                    <div class="flex items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-teal-700" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                        </svg>
                        <span class="mx-4 text-gray-700 dark:text-gray-300">Skalierbarkeit</span>
                    </div>
                    <span class="ml-9 text-sm text-gray-500 dark:text-gray-400">Individuelle Anpassungen für Ihre Geschäftsprozesse.</span>
                </div>
                <div class="flex flex-col items-start">
                    <div class="flex items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-teal-700" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                        </svg>
                        <span class="mx-4 text-gray-700 dark:text-gray-300">Versand</span>
                    </div>
                    <span class="ml-9 text-sm text-gray-500 dark:text-gray-400">Versandintegration mit DHL, GLS und mehr.</span>
                </div>

                <div class="flex flex-col items-start">
                    <div class="flex items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-teal-700" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                        </svg>
                        <span class="mx-4 text-gray-700 dark:text-gray-300">Premium-Support</span>
                    </div>
                    <span class="ml-9 text-sm text-gray-500 dark:text-gray-400">SLA für 99,95 % Verfügbarkeit.</span>

                </div>

            </div>
        </div>
    </div>
</div>