<div class="max-w-sm mx-auto border rounded-lg md:mx-4 dark:border-gray-700">
    <div class="flex flex-col h-full p-6 ">
        <div class="price-heading">
            <h1 class="text-xl font-medium text-gray-700 capitalize lg:text-2xl dark:text-white">Basic</h1>

            <p class="mt-4 text-gray-500 dark:text-gray-300">
                Ideal für Gründer oder kleine Unternehmen, die ReCloud nutzen möchten, um ihre Prozesse zu skalieren und mehr Effizienz zu erzielen.
            </p>

            <h2 class="mt-4 text-2xl font-semibold text-gray-700 sm:text-3xl dark:text-gray-300">€ 149.90<span class="text-base font-medium">/ Monat</span></h2>

            <p class="mt-1 text-gray-500 dark:text-gray-300">
                Jährliche Abrechnung / Maximal 3 Benutzer<br>
            </p>
        </div>



        <!-- Spacer pushes the button to the bottom -->
        <div class="flex-grow"></div>

        <a href="<%=new_user_registration_url(subdomain: "app")%>?plan=basic"
        class="w-full inline-flex items-center justify-center mb-6 px-5 py-3 mt-6 text-base font-medium text-center text-white rounded-lg bg-teal-700 hover:bg-teal-800 focus:ring-4 focus:ring-teal-300 dark:focus:ring-teal-900">
            Kostenlos starten
            <svg class="w-5 h-5 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path>
            </svg>
        </a>
        <div class="p-4 mb-4 text-teal-800 bg-teal-50 border border-teal-200 rounded-lg dark:bg-teal-900 dark:text-teal-200 dark:border-teal-700">
            <ul class="space-y-2">
                <li class="flex items-center">
                    <svg class="w-5 h-5 text-teal-600 dark:text-teal-400 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 00-1.414 0L9 11.586 6.707 9.293a1 1 0 00-1.414 1.414l3 3a1 1 0 001.414 0l7-7a1 1 0 000-1.414z" clip-rule="evenodd"></path>
                    </svg>
                    <span>Probzeitraum endet automatisch</span>
                </li>
                <li class="flex items-center">
                    <svg class="w-5 h-5 text-teal-600 dark:text-teal-400 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 00-1.414 0L9 11.586 6.707 9.293a1 1 0 00-1.414 1.414l3 3a1 1 0 001.414 0l7-7a1 1 0 000-1.414z" clip-rule="evenodd"></path>
                    </svg>
                    <span>Keine Kreditkarte erforderlich</span>
                </li>
                <li class="flex items-center">
                    <svg class="w-5 h-5 text-teal-600 dark:text-teal-400 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 00-1.414 0L9 11.586 6.707 9.293a1 1 0 00-1.414 1.414l3 3a1 1 0 001.414 0l7-7a1 1 0 000-1.414z" clip-rule="evenodd"></path>
                    </svg>
                    <span>Keinerlei Verpflichtungen</span>
                </li>
            </ul>
        </div>



        <div class="p-6">
            <h1 class="text-lg font-medium text-gray-700 capitalize lg:text-xl dark:text-white">Free-Tarif Plus:</h1>

            <div class="mt-8 space-y-4">
                <div class="flex flex-col items-start">
                    <div class="flex items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-teal-700" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                        </svg>
                        <span class="mx-4 text-gray-700 dark:text-gray-300">Kalendermodul</span>
                    </div>
                </div>
                <div class="flex flex-col items-start">
                    <div class="flex items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-teal-700" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                        </svg>
                        <span class="mx-4 text-gray-700 dark:text-gray-300">Online-Buchungsstrecke</span>
                    </div>
                </div>

                <div class="flex flex-col items-start">
                    <div class="flex items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-teal-700" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                        </svg>
                        <span class="mx-4 text-gray-700 dark:text-gray-300">Reparatur-Set Ready-to-Use</span>
                    </div>
                </div>

                <div class="flex flex-col items-start">
                    <div class="flex items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-teal-700" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                        </svg>
                        <span class="mx-4 text-gray-700 dark:text-gray-300">Einkaufsmodul</span>
                    </div>
                    <span class="ml-9 text-sm text-gray-500 dark:text-gray-400">(Dynamische Einkaufsliste)</span>
                </div>

                <div class="flex flex-col items-start">
                    <div class="flex items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-teal-700" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                        </svg>
                        <span class="mx-4 text-gray-700 dark:text-gray-300">Bestandsynchronisierung</span>
                    </div>
                    <span class="ml-9 text-sm text-gray-500 dark:text-gray-400">Anbindung von Lieferanten</span>
                </div>
                <div class="flex items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-teal-700" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                    </svg>
                    <span class="mx-4 text-gray-700 dark:text-gray-300">Datenexport und -import (CSV)</span>
                </div>

                <div class="flex flex-col items-start">
                    <div class="flex items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-teal-700" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                        </svg>
                        <span class="mx-4 text-gray-700 dark:text-gray-300">Nummernkreise</span>
                    </div>
                    <span class="ml-9 text-sm text-gray-500 dark:text-gray-400">Mit der Nummernkreise-Funktion behalten Sie stets den Überblick</span>
                </div>
                <div class="flex flex-col items-start">
                    <div class="flex items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-teal-700" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                        </svg>
                        <span class="mx-4 text-gray-700 dark:text-gray-300">Benachrichtigungsfunktion</span>
                    </div>
                    <span class="ml-9 text-sm text-gray-500 dark:text-gray-400">(Automatisierte SMS/E-Mails)</span>
                </div>

                <div class="flex flex-col items-start">
                    <div class="flex items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-teal-700" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                        </svg>
                        <span class="mx-4 text-gray-700 dark:text-gray-300">Email Support</span>
                    </div>
                    <span class="ml-9 text-sm text-gray-500 dark:text-gray-400">SLA für 99,95 % Verfügbarkeit.</span>
                </div>

            </div>
        </div>
    </div>
</div>