<div class="bg-white dark:bg-gray-900">
  <div class="container px-6 py-8 mx-auto flex justify-center">
    <iframe
      width="800"
      height="450"
      src="https://www.youtube.com/embed/bQM9yQDjJPw?si=s1CE5VyseddnJD-n" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </iframe>
  </div>
</div>